*:focus {
     outline: none;
}
 html, body {
     height: 100%;
     overflow: hidden;
}
 body {
     text-align: center;
     font-family: 'Exo', sans-serif;
     color: #fff;
     background-image: linear-gradient(to right, #434343 0%, black 100%);
}
 h1 {
     text-transform: uppercase;
}
 .btn {
     border: 0;
     color: #fff;
     padding: 12px 0;
     width: 100%;
     max-width: 100px;
     margin: 1px;
     font-weight: 500;
     transition: all ease-in-out .4s;
}
 .btn:hover {
     opacity: .7;
     cursor: pointer;
}
 .start {
     background: #2BA0A0;
}
 .pause {
     background: #DAA520;
}
 .reset {
     background: #B2001B;
}
  .break {
     background: #1ab2ff;
}
 .numbers {
     font-size: 4em;
     margin-bottom: 2em;
}
 .gauntlet {
     position: relative;
     left: 50%;
     transform: translate(-50%, -30%);
     width: 300px;
     height: 265px;
     border-radius: 30px;
     background-color: #422d26;
     z-index: -1;
    lor: #422d26;
     z-index: -1;
}
 .gauntlet .knuckle {
     position: absolute;
     bottom: 80%;
     right: 0;
     width: 75px;
     height: 75px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     background-color: #422d26;
}
 .gauntlet .knuckle:nth-of-type(5) {
     right: 297px;
}
 .gauntlet .knuckle:nth-of-type(4) {
     right: 222px;
}
 .gauntlet .knuckle:nth-of-type(3) {
     right: 147px;
     height: 88px;
}
 .gauntlet .knuckle:nth-of-type(2) {
     right: 72px;
     height: 98px;
}
 .gauntlet .knuckle:nth-of-type(1) {
     right: -3px;
}
 .gauntlet .knuckle.thumb {
     transform-origin: left bottom;
     transform: rotate(28deg);
     bottom: 68px;
     left: 228px;
     z-index: -1;
     height: 145px;
}
 .gauntlet .knuckle.thumb:before {
     top: 2%;
}
 .gauntlet .arm {
     position: absolute;
     bottom: -80%;
     left: 50%;
     transform: translate(-50%, 0);
     width: 246px;
     height: 213px;
     background-color: #422d26;
}
 .gem {
     display: inline-block;
     opacity: 0;
     transition: 3s all ease-in-out;
     margin: 18px;
}
 .gem-square {
     height: 2.5em;
     width: 2.25em;
     border-radius: 2%;
     box-shadow: inset 0 0 0 0.125em #a3721f, inset 0 0 0 0.25em transparent, inset -0.5em -0.5em 0 0 transparent, 0 0 0.0625em 0 #a3721f, 0 0.125em 0 0.25em #d7a551, 0 0.1875em 0 0.3125em #a3721f;
}
 .gem-oval {
     height: 2.5em;
     width: 2.5em;
     border-radius: 42%;
     box-shadow: inset 0 0 0 0.125em #a3721f, inset 0 0 0 0.25em transparent, inset -0.5em -0.5em 0 0 transparent, 0 0 0.0625em 0 #a3721f, 0 0.125em 0 0.25em #d7a551, 0 0.1875em 0 0.3125em #a3721f;
}
 .disappear {
     display: none !important;
}
 .time {
     background: #bd1608;
     background: -webkit-radial-gradient(100px 100px, circle, #0f0, #000);
}
 .mind {
     background: #bd1608;
     background: -webkit-radial-gradient(100px 100px, circle, #bd1608, #000);
}
 .reality {
     background: #e23404;
     background: -webkit-radial-gradient(100px 100px, circle, #1E90FF, #00BFFF);
}
 .power {
     background: #a57a2d;
     background: -webkit-radial-gradient(100px 100px, circle, #FF69B4, #C71585);
}
 .space-wrapper {
     position: relative;
}
 .space {
     background: #00f;
     background: -webkit-radial-gradient(100px 100px, circle, #FFFACD, #F0E68C);
     position: absolute;
     bottom: -198px;
     left: 106px;
     width: 80px;
     height: 85px;
}
 